<section class="card contact" data-aos="fade-up" id="contact">
  <div class="container">
    <h2>Contact Information</h2>
    <div class="row">
      <div class="col-lg-5 mb-3 contact-info">
        <p>Homayra Binte Harun Heme<br>I am available for freelance or full-time positions. Contact me via email or
          social media.</p>
        <p><i class="fas fa-envelope"></i> heme.dev@email.com</p>
        <div class="socials">
          <a class="me-2" href="#"><i class="fab fa-github"></i></a>
          <a class="me-2" href="#"><i class="fab fa-linkedin"></i></a>
          <a class="me-2" href="#"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
      <div class="col-lg-7">
        <form (ngSubmit)="sendMessage()" #contactForm="ngForm" class="contact-form">
          <div class="mb-3">
            <input class="form-control" type="text" name="name" placeholder="Your Name" required ngModel>
          </div>
          <div class="mb-3">
            <input class="form-control" type="email" name="email" placeholder="Your Email" required ngModel>
          </div>
          <div class="mb-3">
            <input class="form-control" type="text" name="subject" placeholder="Subject" ngModel>
          </div>
          <div class="mb-3">
            <textarea class="form-control" name="message" placeholder="Message" required ngModel></textarea>
          </div>
          <button type="submit" class="btn">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>