<section class="about py-section " data-aos="fade-up">
  <div class="container">
    <h2 class="card-title transition-all animate-on-mount">About My Journey</h2>
    <div class="card p-5">
      <p class="text-land">
        I am Homayra Binte Harun Heme, a passionate MERN Stack Developer. I approach my work with a detail-oriented
        mindset and am committed to building robust and functional applications. I pride myself on being a good
        listener, which helps me understand project requirements deeply, and I highly value continuous learning in the
        web development field.
      </p>

      <p class="text-land">
        <span class="">My Programming Journey:</span> My development journey started with Programming Hero. I began by
        working on projects using simple HTML and CSS. As my knowledge grew, I eagerly explored and mastered the full
        MERN (MongoDB, Express, React, Node.js) stack. While I identify as a slow learner, I utilize my inherent
        patience to systematically overcome this challenge, ensuring I fully grasp every concept and deliver quality
        work.
      </p>

      <p class="text-land">
        <span>Outside of Code:</span> Outside of coding, my hobbies are painting and gardening. These creative pursuits
        perfectly
        complement my professional work, as they cultivate the same qualities I bring to development: patience and
        extreme attention to detail. I apply these core values to every task I undertake, whether it's perfecting a
        painting, nurturing a plant's growth, or fine-tuning a web application's code.
      </p>

      <!-- Contact Button -->
      <div class="d-flex align-items-start">
        <a class="more-link mt-2" href="#contact">Ready to collaborate! <i class="fas fa-arrow-right"></i></a>
      </div>
    </div>

  </div>
</section>