button {
  background-color: var(--card-bg);
  color: var(--title);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  font-size: larger;


  &:hover {
    background-color: var(--button);
    color: var(--text);
  }



}