<section id="home" class="hero py-section" data-aos="fade-up">
  <div class="container">
    <div class="row align-items-center">
      <!-- Hero Text -->
      <div class="order-mobile-2 col-lg-7 mb-4 mb-lg-0 hero-text">
        <h1 class="main-title animate-on-mount">Hi, I'm <span class="primary">Abdelrahman Salem</span></h1>
        <h2 class="secondary-title my-3 animate-on-mount transition-all">MERN Stack Developer</h2>
        <p class="text-land my-3 animate-on-mount transition-all">I turn creative ideas into robust, high performance
          web applications. Let's build
          something
          amazing together.</p>

        <div
          class="socials-links d-flex align-items-center justify-content-start gap-3 animate-on-mount transition-all  pt-4">
          <!-- Download Resume Button -->
          <a class="btn button-primary transition-all animate-on-mount me-2  shadow-primary text-white"
            href="assets/Abdelrahman%20Salem-%20AngularDeveloper.pdf" download>Download Resume</a>

          <!-- Social Media -->
          <div class="socials mt-3 d-flex align-items-center justify-content-between gap-3 ">
            <!-- Github -->
            <a class="animate-on-mount transition-all p-2 " target="_blank"
              href="https://github.com/Salemabdelrahman"><i class="fab fa-github"></i></a>
            <!-- Linkedin -->
            <a class="animate-on-mount transition-all p-2 " target="_blank"
              href="https://www.linkedin.com/in/abdelrhman-salem-6a3714365/"><i class="fab fa-linkedin"></i></a>
            <!-- Facebook -->
            <a class="animate-on-mount transition-all p-2 " target="_blank"
              href="https://www.facebook.com/abd.el.rahman.salem.592939"><i class="fab fa-facebook"></i></a>
          </div>
        </div>

      </div>

      <!-- Profile Photo -->
      <div
        class="order-mobile-1 col-lg-5 d-flex justify-content-center animate-on-mount transition-all  text-center hero-image">
        <div class="img-wrapper shadow-primary p-3 relative rounded-circle  ">
          <img class="img-fluid rounded-circle" src="assets/profile.jpg" alt="Profile Photo">
        </div>
      </div>
    </div>
  </div>
</section>