*,
:before,
:after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

:before,
:after {
  --tw-content: ""
}

html,
:host {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent
}

body {
  margin: 0;
  line-height: inherit;
  background-color: var(--bg);
  color: var(--text);

}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit
}

a {
  color: inherit;
  text-decoration: inherit
}

b,
strong {
  font-weight: bolder
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em
}

small {
  font-size: 80%
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
  padding: 0
}

button,
select {
  text-transform: none
}

button,
input:where([type=button]),
input:where([type=reset]),
input:where([type=submit]) {
  background-color: transparent;
  background-image: none
}

:-moz-focusring {
  outline: auto
}

:-moz-ui-invalid {
  box-shadow: none
}

progress {
  vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  outline-offset: -2px
}

::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

.py-section {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.shadow-primary {
  box-shadow: 0 10px 15px -3px rgb(168 85 247 / .5), 0 4px 6px -2px rgb(168 85 247 / .5);
}

.animate-on-mount {
  animation-name: slideInUp;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
  animation-delay: 0.1s;
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(16px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.transition-all {
  transition-behavior: normal;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0, 0, .2, 1);
  transition-delay: 0s;
  transition-property: all
}

.card-style {
  background-color: var(--card-bg);
  border-radius: 1rem;
  border: 1px solid var(--border);
  transform: translate(0px, 0px) rotate(0deg) skew(0deg) skewY(1deg) scaleX(1) scaleY(1);
}

.card-title {
  color: var(--title);
  border-bottom: 4px solid var(--border);
  font-size: 3rem;
  line-height: 1;
  transition-timing-function: cubic-bezier(0, 0, .2, 1);

  font-weight: 800;
  transform: translate(0px, 0px) rotate(0deg) skew(0deg) skewY(1deg) scaleX(1) scaleY(1);
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  width: fit-content;
  animation-delay: 0.2s;
  text-align: center;
}

.card-title-small {
  margin-top: 0.5rem;
  color: var(--title);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-land {
  background: linear-gradient(90deg, var(--text), #9089fc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-delay: 0.3s;
  transition-duration: .7s;
  transition-timing-function: cubic-bezier(0, 0, .2, 1);
  font-size: 1.125rem;
  line-height: 1.625;
  margin-bottom: 1.5rem;

}

.button-primary {
  background-color: var(--button);
  animation-delay: 0.4s;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(0, 0, .2, 1);

  &:hover {
    background-color: var(--secondary-button);
  }
}

.border-left-primary {
  border-left: 4px solid var(--border);
}

.date-text {
  color: var(--more);
  font-size: 0.95rem;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}


.sub-icon {
  font-size: 1.8rem;
  color: var(--button);
}

.sub-title {
  color: #9ca3af;
}