.title-project {
  color: var(--title);
  font-size: 1.275rem;
  line-height: 2.25rem;
  font-weight: bold;

}

.card-title {
  transform: none;
  font-size: 2rem;
}

.text-land {
  font-size: .9rem;
  line-height: 1.3rem;
}

.button-primary.shadow-primary {
  background-color: var(--secondary-button);
}

// Modal Styles
.modal-dialog {
  border-radius: 12px;
  background-color: var(--card-bg);
  max-width: 90% !important;
  height: auto;
  // max-height: 90vh;
  padding: .3rem 1.5rem;


  .modal-header {
    position: relative;
    padding: 0 !important;
    margin-bottom: 1rem;
    border: none;
    display: block;

    .image-modal {
      width: 100%;
      height: 300px;
      border-radius: 0.375rem;

    }

    .btn-close {
      position: absolute;
      top: 1rem;
      right: 1rem;

      &:hover {
        background-color: var(--title);
      }
    }
  }

  .modal-content {
    background-color: var(--card-bg);
    color: var(--text);
  }

  .modal-body {

    .badge {
      background-color: var(--button);
      color: var(--text);
      margin-right: .3rem;
      margin-bottom: .3rem;
    }
  }

  .modal-footer {
    border: none;
    padding-top: 1rem;

    .btn-outline-primary {
      color: var(--text);
      font-weight: bold;


      &:hover {
        background-color: var(--button);
      }
    }
  }





}