:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

main {
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem 4rem 1rem;

  @media screen and (max-width: 768px) {
    padding: 2rem 0.5rem 4rem 0.5rem;
  }

}

.footer {
  text-align: center;
  color: var(--accent);
  padding: 2rem 0 1rem 0;
  font-size: 1rem;
}