<section id="education" class="education py-section" data-aos="fade-up">
  <div class="container">

    <h2 class="card-title transition-all animate-on-mount">Educational Qualification</h2>


    <div class="education-list">

      <!-- Education Item 1 -->
      <div class="education-item transition-all animate-on-mount mb-4">
        <div class="row">
          <div class="col-md-2 col-lg-1 border-left-primary ">
            <!-- Icon -->
            <div class="sub-icon pt-5 d-flex justify-content-center align-items-center p-3 mb-3">
              <i class="fa-solid fa-graduation-cap"></i>
            </div>
          </div>

          <div class="col-md-10 col-lg-11">
            <div class="card-style transition-all animate-on-mount p-4 h-100">
              <h3 class="card-title-small">B.Sc. in Computer Science &amp; Engineering</h3>
              <p class="sub-title">National Institute of Textile Engineering and Research</p>
              <span class="date-text">2022-present</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Education Item 2 -->
      <div class="education-item transition-all animate-on-mount mb-4">
        <div class="row">
          <div class="col-md-2 col-lg-1 border-left-primary ">
            <!-- Icon -->
            <div class="sub-icon pt-5 d-flex justify-content-center align-items-center p-3 mb-3">
              <i class="fa-solid fa-graduation-cap"></i>
            </div>
          </div>

          <div class="col-md-10 col-lg-11">
            <div class="card-style transition-all animate-on-mount p-4 h-100">
              <h3 class="card-title-small">Complete Web Development with Programming Hero</h3>
              <p class="sub-title">Programming Hero</p>
              <span class="date-text">2025-present</span>
            </div>
          </div>
        </div>
      </div>

      <!-- Education Item 3 -->
      <div class="education-item transition-all animate-on-mount mb-4">
        <div class="row">
          <div class="col-md-2 col-lg-1 border-left-primary ">
            <!-- Icon -->
            <div class="sub-icon pt-5 d-flex justify-content-center align-items-center p-3 mb-3">
              <i class="fa-solid fa-graduation-cap"></i>
            </div>
          </div>

          <div class="col-md-10 col-lg-11">
            <div class="card-style transition-all animate-on-mount p-4 h-100">
              <h3 class="card-title-small">Higher Secondary Certificate (HSC)</h3>
              <p class="sub-title">Milestone College</p>
              <span class="date-text">2019-2020</span>

              <p class="sub-title">Concentrated on Science subjects.</p>
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
</section>