<section id="skills" class="skills py-section" data-aos="fade-up">
  <div class="container">
    <h2 class="card-title transition-all animate-on-mount ">Technical Skills</h2>
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="skill-card transition-all animate-on-mount h-100 p-3">
          <div class="head d-flex align-items-center mb-4">
            <i class="fa-solid fa-bolt"></i>
            <h3>Frontend</h3>
          </div>
          <ul class="">
            <li>HTML5 , CSS3</li>
            <li>Tailwind CSS , Bootstrap</li>
            <li>JavaScript (ES6+)</li>
            <li>TypeScript</li>
            <li>Angular</li>
            <li>Angular Material</li>
            <li>PrimNG</li>
            <li>RxJS (Reactive Programming)</li>
            <li>NgRx / Akita</li>
            <li>Ngx-Translate (Internationalization)</li>
            <li>Lighthouse (Performance Optimization)</li>

          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-3">
        <div class="skill-card transition-all animate-on-mount h-100 p-3">
          <div class="head d-flex align-items-center mb-4">
            <i class="fa-solid fa-code"></i>
            <h3>Backend</h3>
          </div>
          <ul class="">
            <li>RESTful APIs</li>
            <li>Authentication & Authorization</li>
            <li>PHP (basic)</li>
            <li>Laravel (basic)</li>
            <li>MySQL (basic)</li>
            <li>Node.js (basic)</li>
            <li>Express.js (basic)</li>

          </ul>
        </div>
      </div>

      <div class="col-md-12 col-lg-4 mb-3">
        <div class="skill-card transition-all animate-on-mount h-100 p-3">
          <div class="head d-flex align-items-center mb-4">
            <i class="fa-solid fa-bolt"></i>
            <h3>Tools</h3>
          </div>
          <ul class="">
            <li>Git & GitHub</li>
            <li>npm</li>
            <li>Figma</li>
            <li>Adobe XD</li>
            <li>Git & GitHub / Bitbucket</li>
            <li>Angular CLI</li>
            <li>Postman / Swagger</li>
            <li>Firebase / Supabase</li>
            <li>Vercel / Netlify Deployment</li>
            <li>Chrome DevTools</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>