/* You can add global styles to this file, and also import other style files */
@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/solid";
@use "@fortawesome/fontawesome-free/scss/regular";
@use "@fortawesome/fontawesome-free/scss/brands";
@use "bootstrap/scss/bootstrap";
@use "styles/variables.scss";
@use "styles/themes.scss";