<section id="experience" class="experience py-section" data-aos="fade-up">
  <div class="container">

    <h2 class="card-title transition-all animate-on-mount">Experience Qualification</h2>


    <div class="experience-list">

      <!-- experience Item 1 -->
      <div class="experience-item transition-all animate-on-mount mb-4">
        <div class="row">
          <div class="col-md-2 col-lg-1 border-left-primary ">
            <!-- Icon -->
            <div class="sub-icon pt-5 d-flex justify-content-center align-items-center p-3 mb-3">
              <i class="fa-solid fa-briefcase"></i>
            </div>
          </div>

          <div class="col-md-10 col-lg-11">
            <div class="card-style transition-all animate-on-mount p-4 h-100">
              <span class="date-text">N/A</span>
              <h3 class="card-title-small">Fresher/Student</h3>
              <p class="sub-title">Currently Seeking Opportunities</p>

              <div class="sub-title">Focusing on building production-ready projects and continuously learning new
                technologies to start a professional journey .</div>
            </div>
          </div>
        </div>
      </div>

      <!-- experience Item 2 -->
      <div class="experience-item transition-all animate-on-mount mb-4">
        <div class="row">
          <div class="col-md-2 col-lg-1 border-left-primary ">
            <!-- Icon -->
            <div class="sub-icon pt-5 d-flex justify-content-center align-items-center p-3 mb-3">
              <i class="fa-solid fa-briefcase"></i>
            </div>
          </div>

          <div class="col-md-10 col-lg-11">
            <div class="card-style transition-all animate-on-mount p-4 h-100">
              <span class="date-text">N/A</span>
              <h3 class="card-title-small">Fresher/Student</h3>
              <p class="sub-title">Currently Seeking Opportunities</p>

              <div class="sub-title">Focusing on building production-ready projects and continuously learning new
                technologies to start a professional journey .</div>
            </div>
          </div>
        </div>
      </div>


      <!-- experience Item 3 -->
      <div class="experience-item transition-all animate-on-mount mb-4">
        <div class="row">
          <div class="col-md-2 col-lg-1 border-left-primary ">
            <!-- Icon -->
            <div class="sub-icon pt-5 d-flex justify-content-center align-items-center p-3 mb-3">
              <i class="fa-solid fa-briefcase"></i>
            </div>
          </div>

          <div class="col-md-10 col-lg-11">
            <div class="card-style transition-all animate-on-mount p-4 h-100">
              <span class="date-text">N/A</span>
              <h3 class="card-title-small">Fresher/Student</h3>
              <p class="sub-title">Currently Seeking Opportunities</p>

              <div class="sub-title">Focusing on building production-ready projects and continuously learning new
                technologies to start a professional journey .</div>
            </div>
          </div>
        </div>
      </div>




    </div>
  </div>
</section>